/*https://s3-alpha-sig.figma.com/img/03a7/c79a/086aa1e226e5adfe010fd0fb3ff3e2cb?Expires=1685318400&Signature=CAlTit-JRAZrKabAm3GraaDpYhg3X0NGEEiH3QjpG96AmlsdEuz1H4N3ZFr-Y7uhCN-Ow7QXE20v18NxhYYx53i7koCVJUVRrLJ7llo8WvKunZequToJotQtdJ5WtH7PJeoImwJD2SbHN3v2wznyD10Pwg6f5qcc6nd4Q9KE6V-hBi0MVRuiudWWJyKpCBU3sPybGZt0dVlOFTKZFD6vnOkfSOIwnKozq3Rcx5uf1DrwFTm3botGQOe2xrpk-9w2l46CLbHpQiKQpaHEm8F5B-ydPB1pSWTtEU1Uvg2cfX94pvXdpj1ur8ONvGa71v1YeObFg4gbb7xBMd8LNwPl1g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4*/

body {

    font-family: 'Outfit', sans-serif;

}

/*ajustes de texto */
h1 {

    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    /* or 110% */
    color: #000000;
    margin: 0px;
}

h2 {
    color: #2A5B45;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    font-weight: bold;

    /* identical to box height, or 133% */
    /* Green */
    color: #2A5B45;
}

h4 {
    font-size: 14px;
    text-align: center;
    font-weight: 600;

}

p {

    font-weight: 400;
    font-size: 14px;


    /*  line-height: 16px; */
    /* or 114% */

}

/*BOTONES*/
.blackButton {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    left: 16px;
    top: 16px;
    background: #1F1815;
    border-radius: 4px;
    font-family: 'Outfit', sans-serif;

}


.greenButton {
    font-family: 'Outfit', sans-serif;
    color: #FFFFFF;
    /*align-items:center;*/
    width: 137px;
    background: #2A5B45;
    border: solid;
    margin: 0%;
    font-weight: bold;



}


.smallButton {
    width: 60px;
    height: 32px;
}

/*Barra Gªl negra */
#webCafeDeAltura {
    font-size: 23.46px;

}

nav {

    height: 64px;
    left: 16px;
    top: 16px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    align-items: center;
    padding: 12px 40px;


    background: #2B2A2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

/*items desde tienda hasta contacto*/
ul {

    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 40px;
    gap: 34px;
    left: 16px;
    top: 16px;
}

#navContactPhone {

    display: flex;
    align-content: space-between;
    align-items: center;
    align-items: center;

}

/* Estructura gªl página*/
section {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    /* width: 1280px;
    height: 3480px; */
    background: #FFFFFF;
}


/* 1.-De la planta a tu taza*/
article.plantTaze {
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0px;
    top: 64px;
    border-radius: 0px;
    /*  padding: 48px 40px; */
    gap: 8px;
    background: rgba(227, 222, 215, 0.3);

}

div .plantButtons {
    gap: 16px;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 321px;
    left: 0px;
    top: 192px;
    border-radius: 0px;

}


/*2.- Café con las mejores condiciones*/
#cardsBestConditions {}


#cardsBestConditions {
    background-image: url("https://s3-alpha-sig.figma.com/img/03a7/c79a/086aa1e226e5adfe010fd0fb3ff3e2cb?Expires=1685318400&Signature=CAlTit-JRAZrKabAm3GraaDpYhg3X0NGEEiH3QjpG96AmlsdEuz1H4N3ZFr-Y7uhCN-Ow7QXE20v18NxhYYx53i7koCVJUVRrLJ7llo8WvKunZequToJotQtdJ5WtH7PJeoImwJD2SbHN3v2wznyD10Pwg6f5qcc6nd4Q9KE6V-hBi0MVRuiudWWJyKpCBU3sPybGZt0dVlOFTKZFD6vnOkfSOIwnKozq3Rcx5uf1DrwFTm3botGQOe2xrpk-9w2l46CLbHpQiKQpaHEm8F5B-ydPB1pSWTtEU1Uvg2cfX94pvXdpj1ur8ONvGa71v1YeObFg4gbb7xBMd8LNwPl1g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    text-align: center;
    align-items: center;
    background-color: #FFFFFF;
}

#cardsCheckSendDiscounts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 16px;


}

#checklist {
    background-color: #FFFFFF;

    left: 0px;
    top: 0px;
    border-radius: 8px;
    padding: 24px;

}

#sending {
    background-color: #FFFFFF;

    left: 0px;
    top: 0px;
    border-radius: 8px;
    padding: 24px;
}

#discountsBenefits {
    background-color: #FFFFFF;

    left: 0px;
    top: 0px;
    border-radius: 8px;
    padding: 24px;
}



/*3.- Novedades*/
#newFeatures {
    /*  height: 466px; */
    /* padding: 40px;
    gap: 40px; */
}

#coffeeBagfor4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;



}

h3 .bestConditions {
    text-align: center;

}

.coffeeBag {
    align-items: center;
    text-align: center;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

#newFeatures button {

    background: rgba(42, 91, 69, 0.7);
}

#newFeatures button :last-of-type {
    background: rgba(42, 91, 69);
}

/*tiene que haber otra forma de seleccionar los tres primeros solo*/

#urlSee {
    text-align: center;

}

/*4.- Preguntas frecuentes*/
#faqsarticle>h2 {
    color: #FFFFFF;
}

#faqsarticle {
    background-color: #2A5B45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* margin: 100px 306px 96px 306px ; */

}

#faqsarticle h3 {
    color: #000000;
}

.cardFaqs {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 16px;
}

h3.whoToOrder {
    /* como separar la flechita de ahi */

}

/*5.- Cooffee Shop  */
#cooffeeShopText {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

#cooffeeShopText > article{
    display: flex;
    flex-direction: column;
    
}
/*5.- Contact us */
article #contactUs-Form{
    display: flex;
    text-align: center;
    flex-direction: column;

}
#contactUsInfo{
    background: #E3DED7;
}
