@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


/*https://s3-alpha-sig.figma.com/img/03a7/c79a/086aa1e226e5adfe010fd0fb3ff3e2cb?Expires=1685318400&Signature=CAlTit-JRAZrKabAm3GraaDpYhg3X0NGEEiH3QjpG96AmlsdEuz1H4N3ZFr-Y7uhCN-Ow7QXE20v18NxhYYx53i7koCVJUVRrLJ7llo8WvKunZequToJotQtdJ5WtH7PJeoImwJD2SbHN3v2wznyD10Pwg6f5qcc6nd4Q9KE6V-hBi0MVRuiudWWJyKpCBU3sPybGZt0dVlOFTKZFD6vnOkfSOIwnKozq3Rcx5uf1DrwFTm3botGQOe2xrpk-9w2l46CLbHpQiKQpaHEm8F5B-ydPB1pSWTtEU1Uvg2cfX94pvXdpj1ur8ONvGa71v1YeObFg4gbb7xBMd8LNwPl1g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4*/
* {

    font-family: 'Inter', sans-serif;
}

/*ajustes de texto base*/
h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    /* or 110% */
    color: #000000;
}

h2 {
    color: #2A5B45;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    /* Green */
    color: #2A5B45;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    /*  line-height: 16px; */
    /* or 114% */

}

/*BOTONES*/
.blackButton {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 12px 24px;
    gap: 8px;

    /*  width: 141px; */
    height: 40px;
    left: 16px;
    top: 16px;

    background: #1F1815;
    border-radius: 4px;
}

.greenButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;

    /*  width: 137px; */
    height: 40px;

    background: #2A5B45;
    border-radius: 4px;
}

/*Barra Gªl negra */
nav {
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    align-items: center;
    padding: 12px 40px 12px 40px;
    /*gap: 341px; te da la medida de la pagina entera no de lo indv*/
    /*     width: 1262px;
 */
    height: 64px;
    left: 16px;
    top: 16px;
    /*No entiendo porque no se pone tb negro*/
    background: #2B2A2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

/*items desde tienda hasta contacto*/
ul {

    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 40px;
    gap: 34px;

    width: 1262px;
    height: 64px;
    left: 16px;
    top: 16px;
}

/* Estructura gªl página*/
section {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 1280px;
    height: 3480px;
    background: #FFFFFF;
}


/* 1.-De la planta a tu taza*/
.plantTaze {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 48px 40px;
    gap: 8px;

    width: 1280px;
    height: 486px;

    background: rgba(227, 222, 215, 0.3);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

}

/* div > button {
    display: flex;
    flex-direction: row;
} */


/*2.- Café con las mejores condiciones*/
article>#cards {
    background-color: red;
    padding: 48px, 147px, 48px, 147px;
    display: flex;
    flex-direction: row;
}


/* #cards div {  esto  no tiene sentido 
     Card 


     box-sizing: border-box;

     Auto layout 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 16px;

    width: 316px;
    height: 232px;

     White 

    background: #FFFFFF;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    border-radius: 8px;
} */